body {
	font-family: Courier New;
	/*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
}
a{text-decoration: none !important; color: #212529;}
#container{min-height: 480px; margin-bottom: 20px;}
.content{padding: 10px; background: #fafafa; z-index: 2;}
/*header*/
#header {
	background: #2980b9;
  color: white;
	box-shadow : inset 0px -1px 5px 0px #f4f4f4
}

.img-logo {
	height: 100px;
	width: 100px;
}

.menu {
	margin-top: 3rem;
	font-size: 18px;
}

.menu > li {
	display: inline;
	list-style-type: none;
	padding: 8px;
	cursor: pointer;
}

.menu > .active {
	border-bottom: 1px solid gold;
    color: blanchedalmond;
    text-shadow: 1px 1px black;
    transition: 0.5s;
}

.flag {
	margin-top: 3rem;
}

.flag > li {
	list-style-type: none;
	display: inline;
	cursor: pointer;
}

.img-flag{
	width: 20px;
	height: 20px;
}

/*banner*/
#banner {
	background-image: url('../img/slider-03.jpg');
	min-height: 620px;
	background-size: cover;
	padding: 0px;
	margin: 0px;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.2);
	min-height: 620px;
	position: absolute;
	width: 100%;
}

.slide-quots{
	margin: auto;
	width: 100%;
	margin-top: 20%;
	padding: 15px;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
	height: auto;
}

.quots{
	margin-top: 10px;
	display: none;
	transition: 0.5s;
	opacity: 0.8;
	padding: 10px;
	font-weight: bold;
}
/*--content--*/
.divider {
	display: table;
	font-size: 24px; 
	text-align: center; 
	width: 75%;
	margin: 40px auto;
	margin-top: 50px;
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
	width: 50%;
	top: 13px;/* adjust vertical align */
	-moz-background-size: 100% 2px;/* line width */
	background-size: 100% 2px;/* line width */
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}
.divider span:first-child {/* color changes in here */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
	background-image: -webkit-linear-gradient(180deg, transparent, #000);
	background-image: -moz-linear-gradient(180deg, transparent, #000);
	background-image: -o-linear-gradient(180deg, transparent, #000);
	background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
	color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {/* color changes in here */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
	background-image: -webkit-linear-gradient(180deg, #000, transparent);
	background-image: -moz-linear-gradient(180deg, #000, transparent);
	background-image: -o-linear-gradient(180deg, #000, transparent);
	background-image: linear-gradient(90deg, #000, transparent);
}

/*timeline*
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* timeline-Container around content */
.timeline > .timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 49.5%;
}

/* The circles on the timeline */
.timeline > .timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the timeline-container to the left */
.left {
  left: 0;
}

/* Place the timeline-container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left timeline-container (pointing right) */
.left::before {
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right timeline-container (pointing left) */
.right::before {
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for timeline-containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.timeline > .timeline-container > .content {
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  color: white;
  border-radius: 6px;
}
/*zoom*/
.zoom:hover{
	transform: scale(1.1);
	transition: 0.9s;
}
/*flip card*/
.flip-card {
  background-color: transparent;
  width: 260px;
  height: 330px;
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  padding-top: 20%;
}
/*chip*/
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #2980b9;
  color: white;
  margin-bottom: 10px;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/*footer*/
#footer{
  background: #2980b9;
  color: white;
  padding-top: 20px;
  position: relative;
  box-shadow : inset 0px -1px 5px 0px #f4f4f4
}
.footer-links > li {
  list-style-type: none;
  border-bottom: 1px dashed white;
  margin-bottom: 5px;
  cursor: pointer;
  line-height: 2em;
}
/*scrollbar*/
#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #4e0404;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/*hamburger*/
.hamburger-menu{
  float: right;
  margin-top: 10%;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*mobile nav*/
.mobile-nav{
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 0%;
  background: #10a0d5;
  color: white;
  padding-top: 30%;
  box-shadow : inset 0px -1px 5px 0px #f4f4f4;
}
.mobile-nav > .container > ul > li {
  list-style-type: none;
  border-bottom: 1px dashed white;
  margin-bottom: 5px;
  cursor: pointer;
  line-height: 2em;
}